# Datasets

## BIG 2015

In [ ]:
from pathlib import Path

PATH_GPT = Path('D:\\IME\\gpt-malware\\')
PATH_DATA = PATH_GPT / 'data'
PATH_DATA_KAGGLE = PATH_DATA / 'kaggle'


PATH_LABELS = PATH_DATA_KAGGLE / 'trainLabels.csv'
with open(PATH_LABELS, 'r') as f:
    for line in f:
        print(line)

In [9]:
import pandas as pd

df = pd.read_csv(PATH_LABELS)
df.groupby(['Class']).count()

         Id
Class
1      1541
2      2478
3      2942
4       475
5        42
6       751
7       398
8      1228
9      1013